driver = {{modoboa_sql_driver}}

connect = host={{modoboa_sql_host}} dbname={{modoboa_sql_dbname}} user={{modoboa_dovecot_sql_username}} password={{modoboa_dovecot_sql_password}}

default_pass_scheme = SHA512

password_query = SELECT email AS user, password FROM core_user WHERE email='%u' and is_active=1

user_query = SELECT '{{modoboa_system_mailbox_directory}}/%d/%n' AS home, {{modoboa_system_user_id}} as uid, {{modoboa_system_group_id}} as gid, concat('*:bytes=', mb.quota, 'M') AS quota_rule FROM admin_mailbox mb INNER JOIN admin_domain dom ON mb.domain_id=dom.id WHERE mb.address='%n' AND dom.name='%d'

iterate_query = SELECT email AS username FROM core_user WHERE email<>''
